{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Ittas.by  - Разработка программного обеспечения и систем защиты под ключ{% endblock head_title%}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" href="{% static "css/responsive.css" %}" />
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>

<body>
<div class="wrapper">
    {% include "menu.html" %}
 <div class="content-wrapper">
        <div class="caption attestation">
        <h1>Аттестация информационных систем</h1>
    </div>
        <div class="row group group-lab textdecor">
    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">


    <p>ООО «ИТТАС» осуществляет работы по аттестации систем защиты информации (далее - СЗИ) информационных систем в соответствии со специальным разрешением (лицензией) Оперативно-аналитического центра при Президенте Республики Беларусь № 01019/312 от 29 апреля 2015г.
        <p>Аттестация, как комплекс организационно-технических мероприятий, в результате которых подтверждается соответствие системы защиты информации требованиям нормативных правовых актов в области защиты информации, в том числе технических нормативных правовых актов, и оформляется аттестатом соответствия.</p>
        <ul>
            Необходимость проведения мероприятий по аттестации, как оценки соответствия СЗИ информационных систем требованиям нормативных правовых актов Республики Беларусь в области защиты информации, в том числе технических нормативных правовых актов, определена:

        <li>Законом Республики Беларусь от 10 ноября 2008 года «Об информации, информатизации и защите информации» в редакции Закона Республики Беларусь от 4 января 2014 года «О внесении изменений и дополнений в Закон Республики Беларусь «Об информации, информатизации и защите информации»;</li>
        <li>Положением о порядке технической защиты информации в информационных системах, предназначенных для обработки информации, распространение и (или) предоставление которой ограничено, не отнесенной к государственным секретам, утвержденным приказом Оперативно-аналитического центра при Президенте Республики Беларусь от 30.08.2013  № 62 в редакции приказа ОАЦ от 16.01.2015 № 3;</li>
        <li>Положением о порядке криптографической защиты информации в государственных информационных системах, информационных системах, предназначенных для обработки информации, распространение и (или) предоставление которой ограничено, не отнесенной к государственным секретам, и на критически важных объектах информатизации, утвержденным приказом ОАЦ от 30.08.2013 № 62;</li>
        <li>Положением о порядке аттестации систем защиты информации информационных систем, предназначенных для обработки информации, распространение и (или) предоставление которой ограничено, не отнесенной к государственным секретам, утвержденным приказом ОАЦ от 30.08.2013 № 62 в редакции приказа ОАЦ от 16.01.2015 №;</li>
        <li>Положением о технической и криптографической защите информации, утвержденным Указом Президента Республики Беларусь  от 16.04.2013 № 196 «О некоторых мерах по совершенствованию защиты информации».</li>
    </ul>


    <h3>Состав работ по оценке системы защиты информации.</h3>
       <ul>Работы по оценке системы защиты информации включают:
<li>обследование исходных данных, используемых при оценке соответствия системы защиты информации требованиям информационной безопасности;
        <li>обследование организационной структуры;</li>
        <li>проверку уровня подготовки кадров и распределения ответственности персонала за организацию и обеспечение выполнения требований по защите информации;</li>
        <li>обследование состава и структуры комплекса технических средств и программного обеспечения обработки информации и защиты информации;</li>
        <li>обследование технологического процесса обработки и хранения защищаемой информации и информационных потоков;</li>
        <li>обследование порядка применения программно-технических средств обработки информации и средств защиты информации;</li>
        <li>обследование наличия  разработанной документации и ее соответствие требованиям законодательства об информации, информатизации и защите информации, в том числе действующих технических нормативных правовых актов;</li>
        <li> оценку системы защиты информации в реальных условиях эксплуатации путем проверки фактического выполнения установленных требований на различных этапах технологического процесса обработки защищаемой информации (обследование реализации заявленных функциональных требований безопасности в ЗБ).</li></ul>
    <p>ООО «ИТТАС» имеет опыт аттестации систем защиты информации информационных систем класса А2, Б2, В2 (в соответствии с положениями документа СТБ 34.101.30-2007 «Информационные технологии. Методы и средства безопасности. Объекты информатизации. Классификация»).</p>

    </div>
        </div>
 </div>







    {% include "footer.html" %}
</div>
<!-- Скрипты -->
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/static/js/common.js" />
</body>
</html>
