{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>CNA - устройство аппаратного шифрования канала | Ittas.by</title>
    <meta name="description"  content="Внешняя сетевая карта с функцией аппаратного шифрования передаваемого трафика" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" href="{% static "css/responsive.css" %}" />
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
</head>

<body>
<div class="wrapper">
    {% include "menu.html" %}
        <div class="cna-header col-md-12">
            <img src="/static/images/pages/cna.png" alt="CNA - устройство аппаратного шифрования канала"/>
        </div>
    <hr>
         <div class="content-wrapper">
            <div class="row group">
                <div class="col-md-8 col-md-offset-2 cna-h1 col-xs-10 col-xs-offset-1">
                    <h1>Устройство аппаратного шифрования сетевого трафика - CNA</h1>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <h2>Назначение CNA</h2>
                    <p>Основное назначение устройства – персональная внешняя сетевая карта с функцией шифрования передаваемого траффика. Устройство обеспечивает конфиденциальность и контроль целостности данных, передаваемых по открытым каналам связи.</p>
                    <p>Используются алгоритмы шифрования и контроля целостности в соответствии с межгосударственным стандартом ГОСТ 28147-89 и стандартами Республики Беларусь.</p>
                    <p>При необходимости устройства можно настроить для работы в режиме сетевого экрана, при котором устройство будет передавать или пропускать только те пакеты, формат которых будет задан специальными масками и\или адресами.</p>
                </div>
                <div class="col-sm-5">
                    <div class="col-md-6">
                        <p class="goods"><img src="/static/images/pages/cna-os.png" alt="Поддерживаемые ОС"/></p>
                        <p class="p-goods">совместимость co всеми основными ОС</p>
                    </div>
                    <div class="col-md-6">
                        <p class="goods">100<span>%</span></p>
                        <p class="p-goods">целостность криптоалгоритма</p>
                    </div>
                    <div class="col-md-12">
                        <p class="sec-goods">10 <span>Mb/s</span></p>
                        <p class="p-goods">честная скорость шифрования, что является уникальным показателем, учитывая минимальные размеры устройства</p>
                    </div>
                </div>
            </div>
            <!-- <div class="row group"><h4 class="col-sm-12">Кому будет полезен</h4>
                <div class="row"><div class="col-sm-2 col-sm-offset-1">
                    <ul>
                        <li>Службы безопасности</li>
                        <li>Оперативные службы</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        <li>Финансовые, страховые и банковские учреждения</li>
                        <li>Собственники и топ-менеджеры компаний</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        <li>Компании имеющие представительства в регионах и за рубежом</li>
                        <li>Органы государственного управления</li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul>
                        <li>Государственные учреждения</li>
                        <li>Медицинские учреждения</li>
                    </ul>
                </div></div>
            </div> -->
            <div class="row group textdecor">
                <h2 class="col-xs-10 col-xs-offset-1" style="text-align: center; margin-bottom: 20px;">Возможные схемы использования и подключения CNA</h2>
                <div class="row">
                    <div class="col-md-5 col-md-offset-1 col-xs-10 col-xs-offset-1">
                        <p>В настоящий момент, для создания защищенного соединения между 2-мя владельцами CNA необходимо, чтобы хотя бы один владелец CNA имел физический выделенный внешний IP-адрес.</p>
                        <p>В дальнейшем за счет разработки сервера обмена зашифрованными дейтаграммами между владельцами CNA, данное ограничение планируется снять.</p>
                        <p>С помощью CNA возможно установление защищенного соединения совместно с применением VPN.</p>
                    </div>
                    <div class="col-md-5 col-md-offset-0 col-xs-10 col-xs-offset-1">
                        <p>В текущей реализации возможны следующие схемы подключения для синхронизации ключевой информации между пользователями (владельцами CNA):</p>
                        <ul>
                            <li>точка-точка;</li>
                            <li>точка - N точек или N точек - точка;</li>
                            <li>через сервер ключевой информации.</li>
                        </ul>
                    </div>
                </div>
                <!-- ///////////////////// Slider ///////////////////////// -->
                  <div class="schemas">
                      <div class="slide"><img src="/static/images/schemas/schema1.png" alt="Схема соединения с помощью VPN двух офисов (организаций) и применением CNA внутри туннеля"><br><br><p style="text-align: center">Схема соединения с помощью VPN двух офисов (организаций) и применением CNA внутри туннеля</p></div>
                      <div class="slide"><img src="/static/images/schemas/schema1.png" alt="#"></div>
                      <div class="slide"><img src="/static/images/schemas/schema1.png" alt="#"></div>
                  </div>
                <!--/////////////////// End Slider///////////////////////////// -->
            </div>

            <div class="row make-reserve sertcna">
                <div class="col-xs-10 col-xs-offset-1">
                <div class="col-lg-5 col-lg-offset-1  col-md-6 ">
                    <p class="text-reserve">В настоящий момент устройство имеет сертификат Оперативно-аналитического центра при Президенте Республики Беларусь №BY/112 02.01.036 00207 от 16.05.2016 на соответствие требованиям технического регламента ТР 2013/027/BY.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-1  col-md-5 col-md-offset-1">
                    <a href="/static/files/cna.pdf" target="_blank"><img src="/static/images/pages/cna-cert.jpg" alt="Сертификат соответсвия CNA" /></a>
                </div></div>
            </div>

            <div class="row group">
                <div class="col-xs-10 col-xs-offset-1">
                    <h2>Краткие технические характеристики</h2>
                    <table class="table table-striped">
                        <tbody>
                              <tr>
                                <td>Интерфейс подключения к компьютеру</td>
                                <td>USB2.0 в режиме HS 480Мбит/с</td>
                              </tr>
                              <tr>
                                <td>Количество сетевых интерфейсов (RJ45)</td>
                                <td>1</td>
                              </tr>
                              <tr>
                                <td>Поддерживаемые USB-протоколы</td>
                                <td>RNDIS, MSC, CCID</td>
                              </tr>
                              <tr>
                                <td>Скорость передачи данных с шифрованием трафика</td>
                                <td>До 10 Мбит/с</td>
                              </tr>
                              <tr>
                                <td>Скорость передачи данных без шифрования трафика</td>
                                <td>До 100 Мбит/с</td>
                              </tr>
                              <tr>
                                <td>Поддерживаемые криптографические стандарты шифрования и контроля целостности, при операциях сетевого обмена</td>
                                <td>ГОСТ 28147-89, СТБ 34.101.31-2011</td>
                              </tr>
                              <tr>
                                <td>Поддерживаемые ОС</td>
                                <td>Семейство Windows начиная с Windows XP SP2, Debian 8.5 и выше, Ubuntu 15.10 и выше</td>
                              </tr>
                              <tr>
                                <td>Габаритные размеры</td>
                                <td>99x30x22 мм</td>
                              </tr>
                              <tr>
                                <td>Масса</td>
                                <td>35г</td>
                              </tr>
                              <tr>
                                <td>Напряжение электропитания</td>
                                <td>5.0В</td>
                              </tr>
                              <tr>
                                <td>Количество одновременно поддерживаемых защищенных соединений <br>(IP-адресов)</td>
                                <td>до 80</td>
                              </tr>
                        </tbody>
                      </table>
                </div>
            </div>

            <div class="row make-reserve">
                <div class="col-md-5 col-md-offset-2">
                    <p class="text-reserve">Мы предлагаем всем желающим заказать тестовые устройства абсолютно бесплатно чтобы в полной мере ощутить преимущества устройств CNA над конкурентами</p>
                </div>
                <div class="col-md-5">
                    <button class="btn-company btn-company-yellow">ЗАКАЗАТЬ</button>
                </div>
            </div>
        </div>
    {% include "footer.html" %}
</div>
<!-- Скрипты -->
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script>
    $(document).ready(function(){
			$('.schemas').slick({
				slidesToShow: 1,
				slidesToScroll: 1,
				arrows: false,
				dots: true,
                dotsClass: 'slick-dots',
					pauseOnHover: false,
					responsive: [{
					breakpoint: 768,
					settings: {
						slidesToShow: 1
					}
				}, {
					breakpoint: 520,
					settings: {
						slidesToShow: 1
					}
				}]
			});
		});
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
