{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Ittas.by  - Разработка программного обеспечения и систем защиты под ключ{% endblock head_title%}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>

<body>
<div class="wrapper">
    {% include "menu.html" %}
        <div class="scna-header col-md-12">
            <img src="/static/images/pages/cna.png"/>
        </div>
    <hr>
         <div class="content-wrapper">
            <div class="row group">
                <div class="col-sm-5 col-sm-offset-1">
                    <h2>Назначение</h2>
                    <p>Устройство обеспечивает конфиденциальность и контроль целостности данных, передаваемых по открытым каналам связи сетей общего пользования (в т.ч. при работе в публичных Internet сетях).</p>
                    <p>Используются алгоритмы шифрования и контроля целостности в соответствии с межгосударственным стандартом ГОСТ 28147-89 и стандартами Республики Беларусь.</p>
                    <p>При необходимости устройства можно настроить для работы в режиме сетевого экрана, при котором устройство будет передавать или пропускать только те пакеты, формат которых будет задан специальными масками и\или адресами.</p>
                </div>
                <div class="col-sm-5">
                    <div class="col-md-6">
                        <p class="goods">Win Mac Linux icons here</p>
                        <p class="p-goods">совместимость co всеми основными ОС</p>
                    </div>
                    <div class="col-md-6">
                        <p class="goods">100<span>%</span></p>
                        <p class="p-goods">целостность криптоалгоритма</p>
                    </div>
                </div>
            </div>

            <h4 class="col-sm-2 col-sm-offset-1">Кому будет полезен</h4>
            <div class="row group">
                <div class="col-sm-2 col-sm-offset-1">
                    <ul>
                        <li>Службы безопасности</li>
                        <li>Оперативные службы</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        <li>Финансовые, страховые и банковские учреждения</li>
                        <li>Собственники и топ-менеджеры компаний</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        <li>Компании имеющие представительства в регионах и за рубежом</li>
                        <li>Органы государственного управления</li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul>
                        <li>Государственные учреждения</li>
                        <li>Медицинские учреждения</li>
                    </ul>
                </div>
            </div>

            <div class="row group">
                <div class="col-sm-10 col-sm-offset-1">
                    <h2>Краткие технические характеристики</h2>
                    <table class="table table-striped">
                        <tbody>
                              <tr>
                                <td>Интерфейс подключения к компьютеру</td>
                                <td>USB2.0 в режиме HS 480Мбит/с</td>
                              </tr>
                              <tr>
                                <td>Количество сетевых интерфейсов (RJ45)</td>
                                <td>1</td>
                              </tr>
                              <tr>
                                <td>Поддерживаемые USB-протоколы</td>
                                <td>RNDIS, MSC, CCID</td>
                              </tr>
                              <tr>
                                <td>Скорость передачи данных с шифрованием трафика</td>
                                <td>До 10 Мбит/с</td>
                              </tr>
                              <tr>
                                <td>Скорость передачи данных без шифрования трафика</td>
                                <td>До 100 Мбит/с</td>
                              </tr>
                              <tr>
                                <td>Поддерживаемые криптографические стандарты шифрования и контроля целостности, при операциях сетевого обмена</td>
                                <td>ГОСТ 28147-89, СТБ 34.101.31-2011</td>
                              </tr>
                              <tr>
                                <td>Поддерживаемые ОС</td>
                                <td>Семейство Windows начиная с Windows XP SP2, Debian 8.5 и выше, Ubuntu 15.10 и выше</td>
                              </tr>
                              <tr>
                                <td>Габаритные размеры</td>
                                <td>99x30x22 мм</td>
                              </tr>
                              <tr>
                                <td>Масса</td>
                                <td>35г</td>
                              </tr>
                              <tr>
                                <td>Напряжение электропитания</td>
                                <td>5.0В</td>
                              </tr>
                              <tr>
                                <td>Количество одновременно поддерживаемых защищенных соединений <br>(IP-адресов)</td>
                                <td>до 80</td>
                              </tr>
                        </tbody>
                      </table>
                </div>
            </div>



        </div>












    {% include "footer.html" %}
</div>
<!-- Скрипты -->
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/static/js/common.js" />
</body>
</html>
