{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Контакты | Ittas.by</title>
    <meta name="description"  content="Контакты ООО ИТТАС" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" href="{% static "css/responsive.css" %}" />
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
</head>

<body>
<div class="wrapper">
    {% include "menu.html" %}
    <div class="contacts">
        <h1>Свяжитесь с нами</h1>
        <ul>
                <li><span class="glyphicon glyphicon-map-marker"></span> Минск, ул. Одоевского, 115А, офис 287</li>
                <li><span class="glyphicon glyphicon-phone"></span> +375 17 318-08-50</li>
                <li><span class="glyphicon glyphicon-print"></span> +375 17 318-08-51</li>
                <li><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:info@ittas.by">info@ittas.by</a></li>
            </ul>
    </div>
    <div id="map" style="height: 550px;"></div>

    {% include "footer.html" %}



</div>
<!-- Скрипты -->
    <script>
      function initMap() {
        var uluru = {lat: 53.901368, lng: 27.475729};
        var work = {lat: 53.901368, lng: 27.477629};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru,
          scrollwheel: false,
          streetViewControl: false,
          mapTypeControl: false,
        });
        var marker = new google.maps.Marker({
          position: work,
          map: map
        });
        var styles = [{"featureType":"all","elementType":"all","stylers":[{"saturation":-100},{"gamma":0.5}]}];
        map.setOptions({styles: styles});
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLvTmhh6rDPJc2jXN5yqSuox6gmX-zfmI&callback=initMap">
    </script>


<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
