{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Ittas.by  - Разработка программного обеспечения и систем защиты под ключ{% endblock head_title%}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" href="{% static "css/responsive.css" %}" />
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>

<body>
<div class="wrapper">
    {% include "menu.html" %}
     <div class="caption expertiz">
        <h1>ИТТАС - решения в области защиты информации и разработки ПО</h1>
    </div>
    <div class="row group group-lab group2 textdecor">
        <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">

            <p>За 2 года на рынке ООО «ИТТАС» заработала имидж стабильно развивающейся компании.
                На счету компании достаточно проектов, чтобы с уверенностью сказать:
                "мы знаем что такое информационная безопасность".</p>
            <p>ООО «ИТТАС» специализируется на разработке программных и программно-аппаратных средств
                защиты информации, а также иного программного обеспечения в интересах заказчиков; имеет в
                своем составе аккредитованную испытательную лабораторию, которая оказывает услуги по
                оценке соответствия задания по безопасности продуктов информационных технологий,
                проводит испытания, в том числе в целях сертификации, технических средств обработки и
                защиты информации, а также аттестацию систем защиты информации.</p>
            <p>Основные специализации разработки:</p>
            <ul>
                <li>разработка ПО в области защиты данных;</li>
                <li>разработка библиотек для программных и программно-аппаратных решений заказчика;</li>
                <li>продажа готовых, разработанных ранее решений;</li>
                <li>услуги по аутсорсингу разработки.</li>
            </ul>
            <p>Главными нашими достижениями и ценностью мы считаем команду высококвалифицированных,
                ответственных и целеустремленных специалистов, благодаря которым мы действительно способны
                решать любые поставленные задачи и с уверенностью смотрим в будущее.</p><br>
            <h2>Наши принципы:</h2>
            <ul>
                <li><strong>ПУНКТУАЛЬНОСТЬ</strong> — зависящие от нас сроки, которые оговариваются с клиентами,
                    соблюдаются с безукоризненной
                    точностью. Более того, мы всегда стремимся сдать работу раньше заявленного срока.</li>
                <li><strong>ОТВЕТСТВЕННОСТЬ</strong> — мы всегда учитываем все пожелания клиентов.</li>
                <li><strong>ИНДИВИДУАЛЬНОСТЬ</strong> — мы практикуем только индивидуальные решения для каждого клиента.</li>
                <li><strong>АККУРАТНОСТЬ</strong> — мы уделяем должное внимание мелочам, чтобы в результате работа
                    выглядела идеальной и совершенной.</li>
                <li><strong>ЭНТУЗИАЗМ</strong> — мы любим то, что делаем и не боимся задерживаться после работы.</li>
            </ul><br>
            <p>Мы готовы работать с клиентами из любых точек земного шара. Готовы взять проекты по
                сопровождению и разработке ПО на аутсорсинг.</p>
            <p>Если у Вас возникли дополнительные вопросы, задавайте их по телефону <a href="tel:+375173180850">+375 17 318-08-50</a>
                или заполните форму обратной связи на странице <a href="/contacts/" title="Контакты">контакты</a>.</p>

        </div>
    </div>

    {% include "footer.html" %}
</div>
<!-- Скрипты -->
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/static/js/common.js" />
</body>
</html>
