{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Ittas.by  - Разработка программного обеспечения и систем защиты под ключ{% endblock head_title%}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" href="{% static "css/responsive.css" %}" />
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>

<body>
<div class="wrapper">
    {% include "menu.html" %}
    <div class="caption obl-acr">
        <h1>Область аккредитации ООО ИТТАС</h1>
    </div>
    <div class="row group group-lab group2 textdecor">
        <div class="col-sm-8 col-sm-offset-2 ">
            <p>Испытательная лаборатория ООО «ИТТАС» была основана 2015 году и на данный момент располагает оборудованием, необходимым для проведения испытаний согласно области аккредитации. Специалисты испытательной лаборатории прошли необходимое обучение и обеспечивают выполнение всех видов работ на высоком профессиональном уровне.</p>
            <p>Испытательная лаборатория ООО «ИТТАС» соответствует критериям Национальной системы аккредитации Республики Беларусь и аккредитована на соответствие требованиям СТБ ИСО/МЭК 17025 (Регистрационный номер аттестата аккредитации № BY/112 1.1783  от 02.05.2016).</p>
            <p>Политика в области качества испытаний направлена на:</p>
            <ul>
                <li>обеспечение соответствия аккредитованной испытательной лаборатории требованиям стандарта СТБ ИСО/МЭК 17025-2007;</li>
                <li>обеспечение объективности, достоверности, независимости и оперативности проводимых оценок и испытаний, соблюдение конфиденциальности информации, полученной в результате испытаний;</li>
                <li>обеспечение выполнения требований потребителя при проведении оценки безопасности объектов информационных технологий, профилей защиты, заданий по безопасности, средств защиты информации;</li>
                <li>постоянное повышение научно-технического и организационно-методического уровня проводимых испытаний;</li>
                <li>повышение экономической эффективности работы испытательной лаборатории за счет рационального использования технических, экономических и организационных ресурсов;</li>
                <li>постоянное повышение профессионального уровня персонала, проводящего испытания, создание условий для развития и реализации творческих способностей.</li>
            </ul>
            <p>Испытательная лаборатория ООО «ИТТАС» - это:</p>
            <ul>
                <li>достоверность результатов испытаний;</li>
                <li>качество проведения испытаний;</li>
                <li>беспристрастность оценки;</li>
                <li>конфиденциальность информации.</li>
            </ul>
            <p>В соответствии с областью аккредитации Испытательная лаборатория ООО «ИТТАС» проводит испытания, в том числе в целях сертификации, технических средств обработки и защиты информации следующих классов:</p>
            <ul>
                <li>аппаратно-программные и программные средства защиты информации;</li>
                <li>технические средства защиты информации;</li>
                <li>криптографические средства защиты информации;</li>
                <li>технические средства и системы обработки и передачи информации;</li>
                <li>технические средства мониторинга информационных сетей;</li>
                <li>безопасность информационных технологий.</li>
            </ul>

            <ul>
            <p>Испытательная лаборатория ООО «ИТТАС» оказывает следующие услуги:</p>
                <li>методическая и техническая поддержка в разработке Заданий по безопасности;</li>
                <li>оценка соответствия Задания по безопасности на соответствие требованиям СТБ 34.101.1, СТБ 34.101.2 и СТБ 34.101.3;</li>
                <li>разработка документов, регламентируемых гарантийными требованиями безопасности, определенными в Задании по безопасности; в соответствии с УГО;</li>
                <li>разработка системы защиты информации в соответствии с требованиями Задания по безопасности;</li>
                <li>реализация системы защиты информации в информационных подсистемах Заказчика;</li>
                <li>проведение испытаний средств защиты по уровню гарантии оценки на соответствие Заданию по безопасности, в т.ч. разработку и согласование с Заказчиком Методики испытаний, оформление протокола испытаний;</li>
                <li>методическая поддержка в подготовке документации (исходных данных) для проведения аттестации и аттестация систем защиты информации.</li>
            </ul>

        </div>
    </div>

    {% include "footer.html" %}
</div>
<!-- Скрипты -->
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/static/js/common.js" />
</body>
</html>
