{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Ittas.by  - Разработка программного обеспечения и систем защиты под ключ{% endblock head_title%}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>

<body>
<div class="wrapper">
    {% include "menu.html" %}

    <div class="scna-header col-md-12">
        <img src="/static/images/pages/scna.png"/>
    </div>
<hr>
    <div class="content-wrapper">
        <div class="row group">
            <div class="col-sm-5 col-sm-offset-1">
                <h2>Назначение</h2>
                <p>Серверная версия CNA является независимым устройством стоечного исполнения.</p>
                <p>Предназначен для криптографической защиты сетевого траффика.</p>
                <p>Доступна работа в режиме моста и режиме сетевого экрана. Т.е. в зависимости от локальных настроек, устройство шифрует / расшифровывает часть пакетов, а остальные может либо пропускать прозрачно, либо блокировать.</p>
            </div>
            <div class="col-sm-5">
                <div class="col-md-6">
                    <p class="goods">100%</p>
                    <p class="p-goods">Реализация аппаратного шифрования</p>
                </div>
                <div class="col-md-6">
                    <p class="goods">15&nbsp;<span>минут</span></p>
                    <p class="p-goods">На внедрение в сеть организации</p>
                </div>
            </div>
        </div>

        <div class="row group">
            <div class="col-sm-10 col-sm-offset-1">
                <h2>Технические характеристики</h2>
                <table class="table table-striped">
                    <tbody>
                          <tr>
                            <td>Количество одновременно поддерживаемых защищенных соединений</td>
                            <td>до 200</td>
                          </tr>
                          <tr>
                            <td>Общая производительность при процессе шифрования трафика</td>
                            <td>
                                <ul>
                                    <li>по стандарту СТБ 34.101.31-2011 – до 450Мбит/с</li>
                                    <li>по стандарту ГОСТ 28147-89– до 440Мбит/с</li>
                                </ul>
                            </td>
                          </tr>
                          <tr>
                            <td>Количество сетевых интерфейсов (RJ45)</td>
                            <td>не менее 2</td>
                          </tr>
                          <tr>
                            <td>Носитель ключевой информации</td>
                            <td>Внутренняя память устройства</td>
                          </tr>
                          <tr>
                            <td>Реализация алгоритмов шифрования и имитозащиты (контроля целостности) трафика</td>
                            <td>На аппаратном уровне</td>
                          </tr>
                          <tr>
                            <td>Алгоритмы шифрования трафика</td>
                            <td>
                                <ul>
                                    <li>СТБ 34.101.31-2011</li>
                                    <li>ГОСТ 28147-89</li>
                                </ul>
                            </td>
                          </tr>
                          <tr>
                            <td>Режим шифрования трафика</td>
                            <td>Гаммирования с обратной связью</td>
                          </tr>
                          <tr>
                            <td>Алгоритмы имитозащиты трафика</td>
                            <td>
                                <ul>
                                    <li>СТБ 34.101.31-2011</li>
                                    <li>ГОСТ 28147-89</li>
                                </ul>
                            </td>
                          </tr>
                          <tr>
                            <td>Алгоритмы контроля целостности системных объектов</td>
                            <td>Алгоритмы электронной цифровой подписи  СТБ 34.101.45-2013 с функцией хэширования СТБ 34.101.31-2011</td>
                          </tr>
                          <tr>
                            <td>Наличие источника физической случайности</td>
                            <td>Да</td>
                          </tr>
                          <tr>
                            <td>Алгоритм выработки псевдослучайных данных</td>
                            <td>СТБ 34.101.47-2012 (в режиме счетчика с функцией хэширования, определенной в СТБ 34.101.31 и с использованием данных от источника физической случайности)</td>
                          </tr>
                          <tr>
                            <td>Использование временных (сеансовых) ключей шифрования и имитозащиты</td>
                            <td>Да</td>
                          </tr>
                          <tr>
                            <td>Выработка сторонами общих сеансовых ключей шифрования и имитозащиты</td>
                            <td>По схеме DHE_PSK_BIGN, определенной в СТБ 34.101.65-2014, с использованием протокола Дифи-Хеллмана и предварительно распределенных ключей</td>
                          </tr>
                          <tr>
                            <td>Обновление сеансовых ключей шифрования и имитозащиты</td>
                            <td>Алгоритм преобразования ключа СТБ 34.101.31-2011 по прошествии определенного времени </td>
                          </tr>
                          <tr>
                            <td>Аутентификация сторон</td>
                            <td>На основании предварительно распределенных ключей</td>
                          </tr>
                          <tr>
                            <td>Защита трафика</td>
                            <td>
                                Сетевой уровень:
                                <ul>
                                    <li>Зашифрование IP данных</li>
                                    <li>IPsec Encapsulating Security Payload (ESP) (поля SPI и Sequence number используются для данных)</li>
                                </ul>
                                Транспортный уровень:
                                <ul>
                                    <li>Зашифрование TCP/UDP данных</li>
                                </ul>
                            </td>
                          </tr>
                          <tr>
                            <td>Протоколирование событий</td>
                            <td>Syslog</td>
                          </tr>
                          <tr>
                            <td>Способы получения ключей</td>
                            <td>Генерация одним из устройств с выдачей в защищенном виде</td>
                          </tr>
                          <tr>
                            <td>Защита ключей при распределении</td>
                            <td>С использованием алгоритмов СТБ 34.101.60 и СТБ 34.101.45 (приложение Е)</td>
                          </tr>
                          <tr>
                            <td>Фильтрация</td>
                            <td>по IP-адресу (диапазон IP, хост) источника и назначения</td>
                          </tr>
                    </tbody>
                  </table>
            </div>
        </div>

        <div class="row group">

        </div>

    </div>



    {% include "footer.html" %}
</div>
<!-- Скрипты -->
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/static/js/common.js" />
</body>
</html>
