{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ittas.by - сертификация средств защиты информации и программного обеспечения в Республике Беларусь" />
    <title>{% block head_title %}Ittas.by  - Разработка программного обеспечения и систем защиты под ключ{% endblock head_title%}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" href="{% static "css/responsive.css" %}" />
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>

<body>
<div class="wrapper">
    {% include "menu.html" %}
    <div class="caption sert">
        <h1>Сертификация средств защиты информации</h1>
    </div>
    <div class="content-wrapper">
        <div class="row group group-lab textdecor">
            <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">

              <!--  <div class="row">
                    <div class="col-sm-8">-->
                        <p>Перед выпуском в обращение на рынке средства защиты информации должны быть подвергнуты процедуре подтверждения соответствия требованиям информационной безопасности Техническому регламенту Республики Беларусь «Информационные технологии. Средства защиты информации. Информационная безопасность» (ТР 2013/027/BY)  в форме сертификации или декларирования соответствия.</p>

                   <!-- </div>
                    <div class="col-sm-4">

                        <div class="">
                            <div class="sidebar-header">
                                <p>Поделиться</p>
                            </div>
                            <div class="sidebar-body">
                                {% include "social.html" %}
                            </div>
                        </div>-->

                       <!-- <div class="sidebar-block">
                            <div class="sidebar-header">
                                <p>Заказать звонок</p>
                            </div>
                            <div class="sidebar-body">
                                <input placeholder="Меня зовут">
                                <input placeholder="Меня интересует">
                                <input placeholder="Мой телефон">
                                <button>rere</button>
                            </div>
                        </div>

                    </div>
                </div>-->

                <ul>Подтверждению соответствия требованиям информационной безопасности Технического регламента путем сертификации подлежат средства защиты информации, которые будут использоваться для:
                    <li>технической защиты государственных секретов;</li>
                    <li>создания систем защиты информации информационных систем, предназначенных для обработки информации, распространение и (или) предоставление которой ограничено;</li>
                    <li>создания систем безопасности критически важных объектов информатизации;</li>
                    <li>обеспечения целостности и подлинности электронных документов в государственных информационных системах.</li>
                </ul>

                <p>ООО «ИТТАС» оказывает услуги по проведению испытаний и подготовке комплекта документов для подачи заявки в орган по сертификации на соответствие Техническому регламенту.</p>
                <p>Подготовка к сертификации на соответствие Техническому регламенту и соответствующие сертификационные испытания испытательной лабораторией ООО «ИТТАС» проводятся в составе работ, представленных в Таблице 1.</p>



                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td class="col-sm-1">№ пп</td>
                            <td class="col-sm-5">Наименование работ</td>
                            <td class="col-sm-5">Документация, представляемая по результатам выполнения работ</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Разработка Задания по безопасности. Оценка соответствия Задания по безопасности требованиям СТБ 34.101.3-2014, раздел 10</td>
                            <td>Задание по безопасности Протокол оценки</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Разработка документов, определенных требованиями УГО 2</td>
                            <td>Состав документов согласно СТБ 34.101.3-2014*</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Подготовка заявочных документов для сертификации согласно ТР 2013/027/BY</td>
                            <td>Состав заявочных документов определяется  ТР 2013/027/BY и  требованиями для сертификации по схеме 3с для партии продукции</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Проведение сертификационных испытаний по УГО 2</td>
                            <td>Методика испытаний. Протокол испытаний на соответствие ЗБ по УГО 2</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 vendors-padd">
                    <hr>
                    <p>В результате своей деятельности мы постоянно развиваемся и открываем для себя новые устройства и программное обеспечение.
                        Нашими сотрудниками были успешно проведены сертификационные испытания средств защиты информации различных типов:</p>
                    <div class="col-md-5 col-md-offset-1 col-sm-6" >
                        <ul>
                            <li>Коммутаторы</li>
                            <li>Маршрутизаторы</li>
                            <li>Межсетевые экраны</li>
                            <li>NGFW (межсетевые экраны нового поколения)</li>
                            <li>Системы управления уязвимостями и тестирования на проникновение</li>
                            <li>Файловые и почтовые антивирусные системы</li>
                            <li>DLP-системы</li>
                        </ul>
                    </div>
                    <div class="col-md-5 col-md-offset-1 col-sm-6">
                        <ul>
                            <li>WAF</li>
                            <li>IDM-системы</li>
                            <li>SIEM</li>
                            <li>UTM-решения</li>
                            <li>Средств криптографической защиты информации</li>
                            <li>Средств контроля целостности</li>
                            <li>Средства виртуализации</li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        <br>
                        <br>
                        <p>За годы работы мы накопили опыт работы с крупнейшими поставщиками решений в сфере компьютерной безопасности и защите информации:</p>
                    </div>
                </div>
            </div>

<!-- ///////////////////// Slider ///////////////////////// -->
            <div class="col-sm-8 col-sm-offset-2 ">
                <div class="customer-logos">
                    <div class="slide"><img src="/static/images/vendors/cisco.png"></div>
                    <div class="slide"><img src="/static/images/vendors/cp.png"></div>
                    <div class="slide"><img src="/static/images/vendors/gis.png"></div>
                    <div class="slide"><img src="/static/images/vendors/ibm.png"></div>
                    <div class="slide"><img src="/static/images/vendors/imperva.png"></div>
                    <div class="slide"><img src="/static/images/vendors/kasper.png"></div>
                    <div class="slide"><img src="/static/images/vendors/pan.png"></div>
                    <div class="slide"><img src="/static/images/vendors/pt.png"></div>
                    <div class="slide"><img src="/static/images/vendors/rapid.png"></div>
                    <div class="slide"><img src="/static/images/vendors/rdp.png"></div>
                    <div class="slide"><img src="/static/images/vendors/sf.png"></div>
                    <div class="slide"><img src="/static/images/vendors/infowatch.png"></div>
                    <div class="slide"><img src="/static/images/vendors/ware.png"></div>
                    <div class="slide"><img src="/static/images/vendors/fortinet.png"></div>
                    <div class="slide"><img src="/static/images/vendors/avanpost.png"></div>
                </div>
            </div>

<!--/////////////////// End Slider///////////////////////////// -->
        </div>
    </div>
</div>


    {% include "footer.html" %}
</div>
<!-- Скрипты -->


<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script>
    $(document).ready(function(){
			$('.customer-logos').slick({
				slidesToShow: 6,
				slidesToScroll: 2,
				autoplay: true,
				autoplaySpeed: 3000,
				arrows: false,
				dots: false,
					pauseOnHover: false,
					responsive: [{
					breakpoint: 1200,
					settings: {
						slidesToShow: 5
					}
				},{
					breakpoint: 992,
					settings: {
						slidesToShow: 4
					}
				},{
					breakpoint: 768,
					settings: {
						slidesToShow: 3
					}
				}, {
					breakpoint: 520,
					settings: {
						slidesToShow: 2
					}
				}]
			});
		});
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/static/js/common.js" />
</body>
</html>
