@media (max-width: 480px){
    body{
        overflow-x: auto;
    }
    .main-heading-title {

	    font-size: 19px !important;
    }
}
@media (max-width: 768px) {
    
    .nim-menu{
        padding-bottom: 10px;
    }
    .dropdown-menu .nav-mobile  {
        display: block;
    }
    .dropdown-menu .inline-list {
        display: none;
    }
    .main-heading-title {

	    font-size: 4vw;
    }
    .footer-line{
        border-left: none;
        border-top: 1px solid #feba0f;
        padding-top: 20px;
        padding-left: 5%;
    }
    .footer-padd {
        height: 290px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .navbar .container {
        width:auto;
        padding-left: 0;
        padding-right: 10px;

    }
    .nim-menu.navbar-default .navbar-nav > li > a {
        font-size: .645em;

    }
    .dropdown-menu .inline-list li a {
        font-size: 16px;
    }
    .nim-menu a.navbar-brand {
        font-size: 1.1em;
    }
    .main-heading-title {

	font-size:1.6em;
    }
    .confidence-hover p {
        font-size: 34px;
        margin-left: 10%;

    }
    .btn-company-yellow{
        margin-left: 10%;
    }
    .footer p {
        font-size: 0.9em;
    }
    .footer li {
        font-size: 0.7em;
    }
    .footer-padd {
        height: 240px;
    }
    .footer {
        min-height: 280px;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .confidence-hover p {
        font-size: 36px;
        margin-left: 10%;

    }
    .btn-company-yellow{
        margin-left: 10%;
    }

    .canhelp .cards a p{
        font-size: 0.8em;
    }
}