@media (max-width: 768px) {
    
    .nim-menu{
        padding-bottom: 10px;
    }
    .dropdown-menu .nav-mobile  {
        display: block;
    }
    .dropdown-menu .inline-list {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .navbar .container {
        width:auto;
        padding-left: 0;
        padding-right: 10px;

    }
    .nim-menu.navbar-default .navbar-nav > li > a {
        font-size: .645em;

    }
    .dropdown-menu .inline-list li a {
        font-size: 16px;
    }
    .nim-menu a.navbar-brand {
        font-size: 1.1em;
    }
}