{% extends "news/news.html" %}
    {% block head_title %}Добавить новость | Ittas.by{% endblock head_title%}
    {% block head_description %}Добавление нового материала в раздел Новости{% endblock head_description %}
    {% block content %}
    <div class="row group group-lab group2 textdecor">
        <div class="col-sm-8 col-sm-offset-2 " style="margin-top: 50px">
        <h1>Добавить новость</h1>
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-default" value="Обновить" />
        </form>
        </div>
    </div>
    {% endblock content %}
