{% extends "news/news.html" %}
{% block head_title %}{{ instance.title }} | Ittas.by{% endblock head_title%}

{% block head_description %} {{ instance.preview }} | Ittas.by{% endblock head_description %}

{% block content %}
    <div class="row group group-lab group2 textdecor">
        <div class="col-sm-6 col-sm-offset-3 " style="margin-top: 50px">
            <h1>{{ instance.title }} <small>{% if instance.draft %}<span style="color: red">Черновик</span>{% endif %} {{ instance.publish }}</small></h1>
            {% if instance.user.get_full_name %}
                <p>Автор: {{ instance.user.get_full_name }}</p>
            {% endif %}
            {% if instance.image %}
                <img src="{{ instance.image.url }}" class="img-responsive" alt="{{ instance.title }}" />
            {% endif %}
            {{ instance.content|linebreaks }}
        </div>
    </div>
{% endblock %}
