{% load static %}

<div class="row">
    <div class="col-md-7 customers">
        <div class="row ">
            <div class="col-md-3">
                <img src="static/images/logos/brrb.png" />
            </div>
            <div class="col-md-2">
                <img src="static/images/logos/infowatch.png" />
            </div>
            <div class="col-md-4">
                <img src="static/images/logos/kaspersky.png" />
            </div>
            <div class="col-md-3">
                <img src="static/images/logos/axoft.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="static/images/logos/velcom.png" />
            </div>
            <div class="col-md-4">
                <img src="static/images/logos/belgazprombank.png" />
            </div>
            <div class="col-md-4">
                <img src="static/images/logos/mts.png" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <img src="static/images/logos/softline.png" />
            </div>
            <div class="col-md-3">
                <img src="static/images/logos/bpc.png" />
            </div>
            <div class="col-md-3">
                <img src="static/images/logos/ghu.png" />
            </div>
            <div class="col-md-3">
                <img src="static/images/logos/softprom.png" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img src="static/images/logos/iba.png" />
            </div>
            <div class="col-md-4">
                <img src="static/images/logos/belsoft.png" />
            </div>
            <div class="col-md-4">
                <img src="static/images/logos/nces.png" />
            </div>
        </div>
    </div>
    <div class="col-md-5 confidence-bg img-responsive">
        <div class="confidence-hover">
            Нам доверяют
        </div>
    </div>
</div>