{% load static %}

<div class="row">
    <div class="col-md-7 col-sm-6 hidden-xs customers">
        <div class="row ">
            <div class="col-md-3 col-sm-6">
                <img src="/static/images/logos/brrb.png" alt="Банк Развития Республики Беларусь"/>
            </div>
            <div class="col-md-2 hidden-sm">
                <img src="/static/images/logos/infowatch.png" alt=InfoWatch />
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="/static/images/logos/kaspersky.png" alt="Лаборатория Касперского" />
            </div>
            <div class="col-md-3 hidden-sm">
                <img src="/static/images/logos/axoft.png" alt="Аксофт Бел" />
            </div>

            <div class="col-md-4 col-sm-6">
                <img src="/static/images/logos/velcom.png" alt="Velcom" />
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="/static/images/logos/belgazprombank.png" alt="БелГазПромБанк" />
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="/static/images/logos/mts.png" alt="МТС" />
            </div>

            <div class="col-md-3 hidden-sm">
                <img src="/static/images/logos/softline.png" alt="СофтЛайн" />
            </div>
            <div class="col-md-3 hidden-sm">
                <img src="/static/images/logos/belsoft.png" alt="Белсофт" />
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="/static/images/logos/softprom.png" alt="СофтПромБел" />
            </div>
            <div class="col-md-3 hidden-sm">
                <img src="/static/images/logos/iba.png" alt="IBA" />
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-6 col-xs-12 confidence-bg img-responsive">
        <div class="confidence-hover">
            <p>Нам доверяют более</p>
            <p class="confidence-hover-add confidence-hover-add2">50</p>
            <p class="confidence-hover-add">крупных компаний</p><br>
            <!-- <button class="btn-company btn-company-yellow">ПОДРОБНОСТИ</button> -->
        </div>
    </div>
</div>