{% load static %}

<div class="row">
    <div class="col-md-7 col-sm-6 hidden-xs customers">
        <div class="row ">
            <div class="col-md-3 col-sm-6">
                <img src="static/images/logos/brrb.png" />
            </div>
            <div class="col-md-2 hidden-sm">
                <img src="static/images/logos/infowatch.png" />
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="static/images/logos/kaspersky.png" />
            </div>
            <div class="col-md-3 hidden-sm">
                <img src="static/images/logos/axoft.png" />
            </div>
        <!--</div>
        <div class="row">-->
            <div class="col-md-4 col-sm-6">
                <img src="static/images/logos/velcom.png" />
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="static/images/logos/belgazprombank.png" />
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="static/images/logos/mts.png" />
            </div>
        <!--</div>

        <div class="row">-->
            <div class="col-md-3 hidden-sm">
                <img src="static/images/logos/softline.png" />
            </div>
            <div class="col-md-3 hidden-sm">
                <img src="static/images/logos/belsoft.png" />
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="static/images/logos/huawei.png" />
            </div>
            <div class="col-md-3 hidden-sm">
                <img src="static/images/logos/iba.png" />
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-6 col-xs-12 confidence-bg img-responsive">
        <div class="confidence-hover">
            <p>Нам доверяют более</p>
            <p class="confidence-hover-add confidence-hover-add2">50</p>
            <p class="confidence-hover-add">крупных компаний</p><br>
            <button class="btn-company btn-company-yellow">ПОДРОБНОСТИ</button>
        </div>
    </div>
</div>