<div class="row footer">

        <div class="col-lg-2 col-lg-offset-2 col-md-3 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-4 col-xs-offset-1">
            <p>Продукты</p>
            <ul>
                <li><a href="/solutions/cna" title="CNA">CNA</a></li>
                <li><a href="/solutions/scna" title="sCNA">sCNA</a></li>
                <li><a href="/solutions/d-key" title="D-key">D-key</a></li>
                <!-- <li>itHash</li>
                <li>itTLS</li>
                <li>itCNG</li> -->
            </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-xs-5 ">
            <p>Документация и помощь</p>
            <ul>
                <li><a href="#" title="Руководства">Руководства</a></li>
                <li><a href="#" title="Глоссарий">Глоссарий</a></li>
                <li><a href="#" title="Вопрос-ответ">Вопрос-ответ</a></li>
            </ul>
        </div>

        <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-0 col-sm-6 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <div class="footer-padd">
                <div class="footer-line">
            <ul>
                <li><span class="glyphicon glyphicon-map-marker"></span> Минск, ул. Одоевского, 115А, офис 287</li>
                <li><span class="glyphicon glyphicon-phone"></span> <a href="tel:+375173180850">+375 17 318-08-50</a></li>
                <li><span class="glyphicon glyphicon-print"></span> <a href="fax:+375173180850">+375 17 318-08-51</a></li>
                <li><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:info@ittas.by">info@ittas.by</a></li>
            </ul><br>
            <span class="footer-sub-menu"><a href="/news" title="Новости">Новости</a> | <a href="/vacancies/" title=Вакансии>Вакансии</a> |
                <a href="/contacts" title="Контакты">Связаться с нами</a></span>
                </div>
            </div>
        </div>

</div>
<div class="row ext-footer">
    <p>Перепечатка материалов разрешена только с письменного согласия ООО ИТТАС и указанием источника.<br><span>2015 - 2017 © ITTAS LLC </span></p>
</div>