<div class="row footer">
    <div class="col-md-2"></div>
        <div class="col-md-2">
            <p>Продукты</p>
            <ul>
                <li>Client CNA</li>
                <li>Server CNA</li>
                <li>itHash</li>
                <li>D-key</li>
            </ul>
        </div>
        <div class="col-md-3">
            <p>Документация и помощь</p>
            <ul>
                <li>Руководства</li>
                <li>Прошивки</li>
                <li>Глоссарий</li>
                <li>Вопрос-ответ </li>
            </ul>
        </div>

        <div class="col-md-4 footer-padd">
            <ul>
                <li><span class="glyphicon glyphicon-map-marker"></span> Минск, ул. Одоевского, 115А, офис 287</li>
                <li><span class="glyphicon glyphicon-phone"></span> +375 17 318-08-50</li>
                <li><span class="glyphicon glyphicon-print"></span> +375 17 318-08-51</li>
                <li><span class="glyphicon glyphicon-envelope"></span> info@ittas.by</li>
            </ul><br>
            <span class="footer-sub-menu">Новости | Вакансии | Связаться с нами</span>
        </div>
    <div class="col-md-1"></div>
</div>
<div class="row ext-footer">
    <p>Перепечатка материалов разрешена только с письменного согласия ООО ИТТАС и указанием источника.<br><span>2015 - 2017 © ITTAS LLC </span></p>
</div>