<div class="container-fluid canhelp">
    <div class="row">
        <h2>Мы можем вам помочь с...</h2>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-3 col-sm-6">
                <div class="cards">
                    <a href="#">
                        <img src="static/images/temporary/vulnerability-management.svg" class="icon">
                        <p>Управление уязвимостями</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cards">
                    <a href="#">
                        <img src="static/images/temporary/vulnerability-management.svg" class="icon">
                        <p>Управление уязвимостями</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cards">
                    <a href="#">
                        <img src="static/images/temporary/vulnerability-management.svg" class="icon">
                        <p>Управление уязвимостями</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cards">
                    <a href="#">
                        <img src="static/images/temporary/vulnerability-management.svg" class="icon">
                        <p>Управление уязвимостями</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cards">
                    <a href="#">
                        <img src="static/images/temporary/vulnerability-management.svg" class="icon">
                        <p>Управление уязвимостями</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>