   <div class="main-heading">
       <div class="overlay">
           <div class="container text-container">
               <div class="type-here">
                   <div class="main-heading-title">Что делать<span class="c-typing__textWrap" data-period="2000" data-type='[ "при сертификации?", "если ничего непонятно?", "если нужна аттестация?", "если нужна помощь?" ]'></span></div>
                   <p class="main-heading-text">универсальная, многопрофильная компания, специализирующаяся на информационной безопасности и <br>
                       разработке программных и программно-аппаратных средств защиты информации</p>
               </div>
           </div>
       </div>
   </div>

