<div class="container-fluid canhelp">
    <div class="row">
        <h2>ВАС ИНТЕРЕСУЕТ...</h2>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="cards">
                    <a href="/laboratory/sertification/" title="Сертификация оборудования и программного обеспечения">
                        <img src="/static/images/icons/medal.svg" class="icon" />
                        <p>Сертификация оборудования и <br>программного обеспечения</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="cards">
                    <a href="/laboratory/attestation/" title="Аттестация информационных систем">
                        <img src="static/images/icons/list.svg" class="icon" />
                        <p>Аттестация <br>информационных систем</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="cards">
                    <a href="/solutions/cna/" title="Аппаратные средства защиты каналов связи">
                        <img src="static/images/icons/padlock.svg" class="icon">
                        <p>Аппаратные средства <br>защиты каналов связи</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="cards">
                    <a href="#">
                        <img src="static/images/icons/data-protection.svg" class="icon">
                        <p>Программные средства <br>защиты каналов связи</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="cards">
                    <a href="/company/audit-is/" title="Аудит информационных систем на наличие уязвимостей">
                        <img src="static/images/icons/target.svg" class="icon">
                        <p>Аудит <br>информационных систем <br>на наличие уязвимостей</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="cards">
                    <a href="/company/razrabotka-programmnogo-obespecheniya/" title='Разработка программного обеспечения "под ключ"'>
                        <img src="static/images/icons/coding.svg" class="icon">
                        <p>Разработка <br>программного обеспечения <br>"под ключ"</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6" >
                <div class="cards">
                    <a href="/laboratory/ekspertiza/" title="Экспертиза игрового оборудования">
                        <img src="static/images/icons/file.svg" class="icon">
                        <p>Экспертиза <br>игрового оборудования</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="cards">
                    <a href="#">
                        <img src="static/images/icons/people.svg" class="icon">
                        <p>Сопровождение ПО и <br>программно-аппаратных средств</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>