   <section class="main-heading">
       <div class="overlay">
           <div class="container">
               <div class="row">
                   <div class="main-heading-content col-md-12 col-sm-12 text-center">
                    <h1 class="main-heading-title">Бегущий текст<span class="main-element themecolor" data-elements="Web Developers,Creative,Ambitious"></span></h1>
                    <p class="main-heading-text">Пара общих слов о нас,<br/>какие мы тут все охуенные и рукастые</p>
                   </div>
               </div>
           </div>
       </div>

   </section>