<div class="container-fluid canhelp">
    <div class="row">
        <h2>Мы можем помочь Вам с...</h2>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-3 col-sm-6">
                <div class="cards">
                    <a href="#">
                        <img src="/static/images/icons/medal.svg" class="icon" />
                        <p>Сертификация оборудования и программного обеспечения</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cards">
                    <a href="#">
                        <img src="static/images/icons/list.svg" class="icon" />
                        <p>Аттестация информационных систем</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cards">
                    <a href="#">
                        <img src="static/images/icons/padlock.svg" class="icon">
                        <p>Аппаратные средства защиты каналов связи</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cards">
                    <a href="#">
                        <img src="static/images/icons/data-protection.svg" class="icon">
                        <p>Программные средства защиты каналов связи</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cards">
                    <a href="#">
                        <img src="static/images/icons/target.svg" class="icon">
                        <p>Сканирование  информационных систем на наличие уязвимостей</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cards">
                    <a href="#">
                        <img src="static/images/icons/coding.svg" class="icon">
                        <p>Разработка программного обеспечения "под ключ"</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cards">
                    <a href="#">
                        <img src="static/images/temporary/vulnerability-management.svg" class="icon">
                        <p>Управление уязвимостями</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cards">
                    <a href="#">
                        <img src="static/images/temporary/vulnerability-management.svg" class="icon">
                        <p>Управление уязвимостями</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>