    <nav  class=" nim-menu navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Logo -->
        <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
             </button>
            <a class="navbar-brand" href="{% url 'mainpage' %}">ITTAS</a>
        </div>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'mainpage' %}">Главная</a></li>
              <li class ="parent"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Компания<b class="caret"></b></a>
                <div id="company" class="dropdown-menu">
                    <div class="container">
                        <ul class="nav-mobile">
                        <li><a href="/company/o-kompanii/" title="О компании">О компании</a></li>
                        <li><a href="/company/razrabotka-programmnogo-obespecheniya/" title="Разработка программного обеспечения">Разработка ПО</a></li>
                        <li><a href="/company/soprovozhdenie-po/" title="Сопровождение программного обеспечения">Сопровождение ПО</a></li>
                        <li><a href="/company/audit-is/" title="Аудит информационных систем">Аудит ИС</a></li>
                        </ul>
                        <ul class="inline-list ">
                        <li><a href="/company/audit-is/" title="Аудит информационных систем">Аудит ИС</a></li>
                        <!--<li><a href="/company/soprovozhdenie-po/" title="Сопровождение программного обеспечения">Сопровождение ПО</a></li> -->
                        <li><a href="/company/razrabotka-programmnogo-obespecheniya/" title="Разработка программного обеспечения">Разработка ПО</a></li>
                        <li><a href="/company/o-kompanii/" title="О компании">О компании</a></li>
                        </ul>
                    </div>
                </div>
              </li>
              <li class ="parent"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Решения<b class="caret"></b></a>
                  <div id="solutions" class="dropdown-menu">
                      <div class="container">
                          <ul class="nav-mobile">
                          <li><a href="/solutions/cna/" title="CNA">CNA</a></li>
                          <li><a href="/solutions/scna/" title="sCNA">sCNA</a></li>
                          <li><a href="/solutions/d-key/" title="D-key">D-key</a></li>

                          </ul>
                      <ul class="inline-list ">
                           <!-- <li><a href="#">itTLS</a></li>
                           <li><a href="#">itHash</a></li> -->
                           <li><a href="/solutions/d-key/" title="D-key">D-key</a></li>

                          <li><a href="/solutions/scna/" title="sCNA">sCNA</a></li>
                           <!-- <li>itCNG</li> -->
                          <li><a href="/solutions/cna/" title="CNA">CNA</a></li>
                      </ul>
                      </div>
                  </div>
              </li>
              <li class ="parent"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Лаборатория<b class="caret"></b></a>
                <div id="lab" class="dropdown-menu">
                    <div class="container">
                    <ul class="nav-mobile">
                    <li><a href="/laboratory/oblast-akkreditacii/">Область аккредитации</a></li>
                    <li><a href="/laboratory/sertification/">Сертификация </a></li>
                    <li><a href="/laboratory/attestation/">Аттестация </a></li>
                    <li><a href="/laboratory/ekspertiza/">Экспертиза </a></li>
                    </ul>
                    <ul class="inline-list">
                    <li><a href="/laboratory/ekspertiza/">Экспертиза </a></li>
                    <li><a href="/laboratory/attestation/">Аттестация </a></li>
                    <li><a href="/laboratory/sertification/">Сертификация </a></li>
                    <li><a href="/laboratory/oblast-akkreditacii/">Область аккредитации</a></li>
                    </ul>
                    </div>
                </div>
              </li>

              <li><a href="/news/" title="Новости">Новости</a></li>
              <li><a href="{% url 'contacts' %}">Контакты</a></li>
          </ul>
        </div>
      </div>

    </nav>

