<div class="row products">
    <h2>НАШИ ПРОДУКТЫ</h2>
</div>
<div class="row products">
    <div class='card-wrap'>
      <div class='card'>
        <div class='set-image'><p>CNA</p></div>
        <div class='set-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        <a href="#"><div class="linked"><p>Подробности</p></div></a>
      </div>
      <div class='card'>
        <div class='set-image'><p>sCNA</p></div>
        <div class='set-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        <a href="#"><div class="linked"><p>Подробности</p></div></a>
      </div>
      <div class='card'>
        <div class='set-image'><p>itHash</p></div>
        <div class='set-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        <a href="#"><div class="linked"><p>Подробности</p></div></a>
      </div>
      <div class='card'>
        <div class='set-image'><p>itTLS</p></div>
        <div class='set-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        <a href="#"><div class="linked"><p>Подробности</p></div></a>
      </div>
     <!-- <div class='card'>
        <div class='set-image'><p>D-key</p></div>
        <div class='set-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        <a href="#"><div class="linked"><p>Подробности</p></div></a>
      </div>
       <div class='card'>
        <div class='set-image'><p>DocNODE</p></div>
        <div class='set-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
          <a class="btn btn-info" href="#">Подробности</a>
      </div> -->
    </div>
</div>