<div class="row pt-bg">
    <div class="col-md-5 pt-text">
        <div>
            <p>
                ИТТАС имеет эксклюзивное право оказывать услуги по проверке информационных систем на наличие уязвимостей,
                а также выполнять тестирование на проникновение на территории Республики Беларусь с использованием сертифицированного комплекса MaxPatrol 8.
            </p>
            <p>
                Узнать тарифы, цены и иные подробности об оказываемых услугах можно по ссылке
            </p>
            <br>
            <a class="btn btn-info" href="#">Подробности</a>
        </div>
    </div>
    <div class="col-md-7 pt-pic img img-responsive">
       <img class="img img-responsive" src="/static/images/positive.png" />
    </div>
</div>