<div class="col-md-12 social sidebar-body">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-3">
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/{{ request.path }}" target="_blank"><img src="/static/images/social/facebook.png" /></a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-3">
        <a href="https://twitter.com/home?status={{ request.description }}%20{{ request.build_absolute_uri }}" target="_blank"><img src="/static/images/social/twitter.png" /></a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-3">
        <a href="http://vk.com/share.php?url={{ request.build_absolute_uri }}&title={{ request }}&description={{ request }}" target="_blank"><img src="/static/images/social/vk.png" /></a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-3">
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title=&source={{ request.build_absolute_uri }}" target="_blank"><img src="/static/images/social/linkedin.png" /></a>
    </div>
</div>